@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ------------------- Global elements -------------- */

html{
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 47px;  /* Padding to menu */

    min-height: 100vh;  /* Add this */
    position: relative;  /* Add this */
    padding-bottom: 45px; /* Padding to footer */
}

main{
    flex: 1;
}

.menu{
    display: flex;
    position: fixed;
    height: 40px;
    top: 0;
    flex-grow: 1;
    justify-content: end;
    gap: 10px 10px; /* row-gap column gap */ 
    background-color: lightskyblue;
    width: 100%;
}

.menu h4 {
    color: white;
    flex: 0.9;
    vertical-align: auto;
}

.idxelement{
    color: white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*max-width:1000px;*/
}

h1{
    text-align: center;
}

div {
    margin-left:2%;
    margin-right:2%;
    margin-bottom:2%;
}

code{
    color: darkblue
}

footer{
    display: flex;
    position: absolute;
    bottom: 0;
    flex-grow: 1;
    align-items: stretch;
    justify-content: space-between;
    background-color: lightskyblue;
    height: 45px;
    width: 100%;
}

.footer-div{
    display: flex;
    height: 40px;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    gap: 0px 5px; /* row-gap column gap */ 
    color:white;
}

.footer-btn{
    color: white;
}

.article-text-div {
    max-width: 900px;
    margin-left:auto;
    margin-right:auto;
    /* text-align:center; */
}

.article-content-div {
    max-width: 900px;
    margin-left:auto;
    margin-right:auto;
}

/* Mobile-specific styles */
@media screen and (max-width: 768px) {
  body {
    font-size: 18px; /* Increase base font size for mobile */
  }

  .menu {
    height: 60px; /* Increase header height for mobile */
    font-size: 16px; /* Adjust font size */
  }
  
  footer {
    height: 70px; /* Increase footer height for mobile */
    font-size: 14px; /* Adjust font size */
  }
}

/* For smaller phones */
@media screen and (max-width: 480px) {
  header {
    height: 70px;
    font-size: 18px;
  }
  
  footer {
    height: 80px;
    font-size: 15px;
  }

  body {
    font-size: 20px; /* Even larger for small phones */
  }
}

/* -------------- The home page ---------------- */

@media (max-width: 1200px) {
    .home-top {
        display: block;
    }

    #home-top-left{
        display: block;
        margin-left: 5%;
        margin-right: 5%;
    }

    #home-top-right{
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 20px;
    }
}

@media (min-width: 1201px){
    .home-top{
        display: flex;
        justify-content: space-around;
    }
    
    #home-top-left{
        flex: 0.4;
        margin-left: 4%;
        margin-right: 2%;
        max-width: 600px;
    }
    
    #home-top-right{
        flex: 0.6;
        margin-right: 3%;
        max-width: 500px;
    }
}

.home-images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:500px;
}

#short-description{
    text-align: center;
}

.social-media-div{
    display: flex;
}

.social-media-elem{
    flex: 1;
}

.bi{
    color: lightskyblue;
}

.btn {
    color: white;
}

.fa{
    color: white;
    margin-right: 5px;
}

.social-media-div{
    display: flex;
    justify-content: center;
}

.social-media-div h3 {
    flex: 1;   
}

.home-top-div h2 {
    text-align: center;
}

/* -------------- The research page ---------------- */

#streaming1-image{
    max-width:800px;
}

#streaming2-image{
    max-width:600px;
}

#res-daalder{
    max-width:700px;
}

#distilled-model-hdfs{
    max-width:900px;
}

#res-pdfa-with-prob{
    max-width:800px;
}

#res-preprocessing-in-cybersecurity{
    max-width:800px;
}