/* -------------- The research page ---------------- */

#streaming1-image {
    max-width: 700px;
}

#streaming2-image {
    max-width: 500px;
}

#res-daalder {
    max-width: 600px;
}

#distilled-model-hdfs {
    max-width: 800px;
}

#res-pdfa-with-prob {
    max-width: 700px;
}

#res-preprocessing-in-cybersecurity {
    max-width: 700px;
}

#pac-bounds-cms-to-test {
    width: 60%;
    max-width: 500px;
}

@media (hover: none) and (pointer: coarse) {
    #pac-bounds-cms-to-test {
        width: 80%;
        max-width: 500px;
    }
}