    <footer>
      <div class="footer-div footer-left footer-hide-portrait">
        <b>{{ page.section }}</b>
      </div>
      <div class="footer-div footer-hide-portrait">
        <button class="btn" onclick="scrollToTop()"><i class="fa fa-house" aria-hidden="true">Scroll Up</i></button>
      </div>
      <div class="footer-div footer-right">
        <b>Follow me: &nbsp;</b>
        <a href="https://github.com/RobBa" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://de.linkedin.com/in/robertbaumg" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="https://scholar.google.com/citations?user=_Ii4Of0AAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar"></i></a>
        <a href="https://instagram.com/r_drops_photos?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="bi bi-instagram"></i></a>
      </div>
    </footer>
