/* -------------- Pytorch demystified series ---------------- */

.pytorch-step-row {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.pytorch-step-row-reverse {
    flex-direction: row-reverse;
}

.pytorch-step-text {
    flex: 1 1 45%;
    min-width: 0;
}

.pytorch-step-figs {
    flex: 1 1 55%;
    min-width: 0;
}

.pytorch-step-img {
    width: 95%;
}

#pytorch-trends-in-ml,
#pytorch-trends-in-ml-dark {
    width: 75%;
}

#pytorch-class-diagram,
#pytorch-class-diagram-dark {
    width: 64%;
}

.pytorch-step-heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pytorch-step-heading-mobile {
    display: none;
}

@media (hover: none) and (pointer: coarse) and (orientation: portrait) {
    .pytorch-step-row,
    .pytorch-step-row-reverse {
        flex-direction: column;
        gap: 10px;
    }

    .pytorch-step-img {
        width: 80%;
    }

    .pytorch-step-heading {
        display: none;
    }

    .pytorch-step-heading-mobile {
        display: inline;
    }
}
