/* -------------- Blogposts ---------------- */

.MathJax {
    max-width: 100%;
}

.blog-image {
    width: 98%;
    height: auto;
}

#calling-network-from-cpp {
    max-width: 700px;
}

#memory-management-cpp-vs-cpython {
    max-width: 700px;
}

#python-execution-path {
    width: 45%;
    max-width: 350px;
}

#code-example-python-call {
    width: 95%;
    max-width: 800px;
}

#pac-bounds-graph {
    width: 45%;
    max-width: 400px;
}

#pac-bounds-cms-to-test {
    width: 60%;
    max-width: 500px;
}

#pac-bounds-graph-traversal {
    width: 50%;
    max-width: 700px;
}

#pac-bounds-min-cut {
    width: 65%;
    max-width: 600px;
}

#pac-bounds-pdfa-example {
    width: 100%;
    max-width: 800px;
}

@media (hover: none) and (pointer: coarse) {
    .blog-image {
        width: 100%;
        height: auto;
    }

    .MathJax {
        overflow-x: auto;
    }

    #python-execution-path {
        width: 55%;
    }

    #pac-bounds-graph {
        width: 75%;
    }

    #pac-bounds-cms-to-test {
        width: 80%;
        max-width: 500px;
    }

    #pac-bounds-pdfa-example {
        width: 100%;
    }
}
